<ion-header color="primary">
  <ion-toolbar>
    <ion-title>About App</ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <div class="center">
      <ion-img style="width: 300px; height: 300px;" src="/assets/image/8296.jpg" class="ion-align-self-end"></ion-img>
      <ion-col>
        <div class="ion-text-center">
          <h2><b>Leonardo Danny</b></h2>
          00000014653 - Mobile Cross Platform B<br><br>
          <h3><b>Pengerjaan Aplikasi</b></h3>
          Pengerjaan aplikasi ini saya dibantu oleh :<br>
          Youtube : <a href="https://www.youtube.com/c/AlexanderWaworuntu/videos">Alexander Waworuntu<br></a>
          Ionic Documentation : <br>
          - <a href="https://ionicframework.com/docs">ionicframework.com<br></a>
          - Modul UMN Weekly Mobile Cross Platform<br>
          
        </div>
      </ion-col>
    </div>
  </div>
  
</ion-content>
